  html {
      font-size: 14px
  }
  body {
      font-size: 1rem;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      word-wrap: break-word;
      background-color: #000;
      color: #aaa
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      line-height: 1.3em
  }
  pre {
      width: 380px;
      padding: 5px;
      border: 1px solid #003;
      margin: 1px;
      overflow: auto
  }
  pre.online {
      width: 380px;
      padding: 5px;
      margin: 1px;
      background-color: #020;
      overflow: auto
  }
  pre.syncing {
      width: 380px;
      padding: 5px;
      margin: 1px;
      background-color: #321;
      overflow: auto
  }
  pre.offline {
      width: 380px;
      padding: 5px;
      margin: 1px;
      background-color: #300;
      overflow: auto
  }

.floating-box {
    float: left;
    width: 400px;
    margin: 10px;
}

.after-box {
    clear: left;
}
  pre:hover {
      color: #fff
  }

  code,
  pre,
  pre code {
      font-weight: 100;
      text-shadow: none;
  }
  a {
      cursor: pointer;
      color: #66F;
      text-decoration: none;
  }
  a:hover {
      background-color: #002;
      color: #fff
  }
  hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #33F;
      margin: 1em 0;
      padding: 0; 
  }
  .ascii-art {
      font-family: monospace;
      white-space: pre;
  }
  
